CLIENT_ID=''
CLIENT_SECRET=''
TOKEN_URL=''
SCOPE=''
XERO_BASE_URL=''
WOO_BASE_URL=''
WOO_CONSUMER_KEY=''
WOO_CONSUMER_SECRET=''
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
SQS_QUEUE_URL=''
SNS_TOPIC_ARN=''
